!/.github/
!/.github/**
*.pro.user*
dependencies/*
/build/*
/IR=/
deps/*
dev/windows/deps/
dev/macos/deps/
.idea
.cache/
.qtcreator/
CMakePresets.json
aqtinstall.log
*.pyc
.DS_Store
.*libreelec*
debian/*.debhelper.log
debian/.debhelper/
debian/jellyfin-desktop/
debian/files
debian/jellyfin-desktop.substvars
debian/debhelper-build-stamp
deployment/dist
